<div fxLayout="row" fxLayoutAlign="space-between">
  <div fxFlex="18" class="chat-history">
    <div class="header">SiliconExpert Chatbot</div>

  </div>
  <div class="chat-container" fxFlex="80">
    <div class="chat-messages" #chatMessages>
      <div *ngFor="let message of messages; let i = index">
        <ng-container *ngIf="isEven(i)">
          <div class="message-wrapper">
            <p class="chat-ask">{{ message.text }}</p>
            <span class="lang-text" [class.hidden]="!notificationVisible && !message.isOld">{{ message.lang }}</span>
            <span class="notification-icon" [class.hidden]="!notificationVisible && !message.isOld"
              (click)="showPopUp(message.sqlQuery, message.elasticQuery)">🔔</span>
          </div>
        </ng-container>
        <ng-container *ngIf=!isEven(i)>
          <div class="chat-res">
            <table class="custom-table">
              <ng-container *ngIf="message.rows && message.rows.length > 0; else noResults">
                <thead>
                  <tr>
                    <th *ngFor="let col of message.columns let i = index"
                      [ngClass]="{ 'even': isEven(i), 'odd': !isEven(i) }">
                      {{ col }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of message.rows; let k = index"
                    [ngClass]="{ 'even': isEven(k), 'odd': !isEven(k) }">
                    <td *ngFor="let value of row; let l = index" [ngClass]="{ 'even': isEven(l), 'odd': !isEven(l) }">
                      {{ value }}
                    </td>
                  </tr>
                </tbody>
              </ng-container>
              <ng-template #noResults>
                <tr>
                  <td colspan="2">No results found</td>
                </tr>
              </ng-template>
            </table>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="chat-input">
      <input type="text" [(ngModel)]="userMessage" (keydown)="onKeyDown($event)" placeholder="Type your message" />
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>