.chat-container {
  margin: 1%;
}

.chat-history {
  background-color: #2f78c9;
  display: block;
  position: relative;
  height: 100vh;

}

.chat-messages {
  height: 80vh;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.chat-ask {
  flex: 1;
  color: #333333; /* Dark gray color for the chat text */
  font-size: 16px;
}

.chat-res {
  margin-bottom: 10px;
  background-color: #0db9cf88;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: start;

}

.chat-input {
  display: flex;
}

.chat-input input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  height: 5vh;
}

.chat-input button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #45a049;
}

.header {
  padding: 10px;
  font-size: larger;
  text-align: center;
  color: #f2f2f2;
  border-bottom: #f2f2f2 solid 1px;
}

.custom-table {
  border-collapse: collapse;
  width: 100%;
}

.custom-table th,
.custom-table td {
  padding: 8px;
  border: 1px solid #ddd;
}

.custom-table th.even {
  background-color: #f39c12;
  /* Orange */
  color: #fff;
}

.custom-table td.even {
  background-color: #f5f5f5;
  /* Light Gray */
}

.custom-table th.odd {
  background-color: #3498db;
  /* Blue */
  color: #fff;
}

.custom-table td.odd {
  background-color: #e0e0e0;
  /* Gray */
}

.custom-table .odd {
  color: #c0392b;
  /* Red */
}

/* Add your desired styles for the notification icon and chat message container */
.chat-message-container {
  position: relative;
}

.message-wrapper {
  position: relative;
  padding: 10px;
  background-color: #f5f5f5; /* Light gray background for the message wrapper */
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.notification-icon {
  font-size: 24px;
  cursor: pointer;
  color: #4285f4; /* Google blue color for the notification icon */
}

.notification-icon.hidden {
  display: none;
}