.chat-container {
  margin: 1%;
}

.chat-history {
  background-color: #2f78c9;
  display: block;
  position: relative;
  height: 100vh;

}

.chat-messages {
  height: 70vh;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.chat-ask {
  margin-bottom: 10px;
  background-color: #f2f2f2;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: start;

}

.chat-res {
  margin-bottom: 10px;
  background-color: #0db9cf88;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: start;

}

.chat-input {
  display: flex;
}

.chat-input input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
  height: 5vh;
}

.chat-input button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.chat-input button:hover {
  background-color: #45a049;
}

.header {
  padding: 10px;
  font-size: larger;
  text-align: center;
  color: #f2f2f2;
  border-bottom: #f2f2f2 solid 1px;
}

.even {
  background-color: lightgray;
}

.odd {
  background-color: white;
}