<!-- notification-popup.component.html -->
<div class="popup-container">
  <div class="popup-header">
    <span class="popup-title">SQL Query</span>
    <div class="button-group">
      <button mat-icon-button (click)="copyToClipboard()" class="copy-button">
        <mat-icon>{{ copied ? 'done' : 'content_copy' }}</mat-icon>
      </button>
      <button mat-icon-button (click)="closeDialog()" class="close-button">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>
  <div class="message-content">
    <p>{{ message }}</p>
  </div>
</div>